on: [pull_request]

name: CI

jobs:
  check:
    name: Check+Test default features
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - stable
          - beta
          - nightly
          - 1.37
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Install toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust }}

      - name: Run cargo check
        run: cargo check

      - name: Run cargo test
        run: cargo test

  fmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2
      
      - name: Install toolchain
        uses: dtolnay/rust-toolchain@nightly
        with:
          components: rustfmt
      
      - name: Print rustfmt version
        run: cargo fmt -- --version
      
      - name: Run cargo fmt
        run: cargo fmt -- --check

  check_no_features:
    name: Check+Test no features
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - stable
          - beta
          - nightly
          - 1.37
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Install toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust }}

      - name: Run cargo check
        run: cargo check --no-default-features

      - name: Run cargo test
        run: cargo test --no-default-features

  check_arm64_neon:
    name: Check and test Linux arm 64bit with neon
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - stable
          - beta
          - nightly
          - 1.61
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - name: Install toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust }}
          targets: aarch64-unknown-linux-gnu

      - name: Install cross
        run: cargo install cross --git https://github.com/cross-rs/cross
      
      - name: Run cargo check
        run: cross check --features neon --target aarch64-unknown-linux-gnu

      - name: Run cargo test for arm
        run: cross test --release --features neon --target aarch64-unknown-linux-gnu

  check_x86:
    name: Check and test Linux x86 32bit
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Install stable toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: i586-unknown-linux-gnu

      - name: Install cross
        run: cargo install cross --git https://github.com/cross-rs/cross

      - name: Run cargo check
        run: cross check --target i586-unknown-linux-gnu

      - name: Run cargo test for i586
        run: cross test --target i586-unknown-linux-gnu
        
